@forward "variables";
@forward "mixins";
@forward "navigationDrawer";



/* Styles globaux pour tous les inputs */

.bg{
  padding: 1.5rem;
width:100%;
height: 100vh;
background-color: rgba(var(--v-theme-background));
overflow-y: auto;

}

