// ✅ src/styles/_variables.scss

$primary: #1E88E5;
$secondary: #FFC107;
$error: #FF5252;
$success: #4CAF50;


// This is used by nav items & nav header
$vertical-nav-horizontal-spacing: 0 1.125rem !default;
$vertical-nav-horizontal-padding: 1.375rem 1rem !default;